---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostListItem from '../components/BlogPostListItem.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout>
  <h2>My Bloggity blog</h2>
  <p>This is where I will write stuff.</p>
  <ul>
    {
      allPosts ? (
        allPosts.map((post) => (
          <BlogPostListItem
            url={post.url}
            title={post.frontmatter.title}
          />
        ))
      ) : (
        <p>Something has gone wrong, please reload the page.</p>
      )
    }
  </ul>
</BaseLayout>
