---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>This is outside the layout</h2>
  <Greeting
    client:load
    messages={['WTF', 'SHIZNIT', 'Hello Madam', 'FUCK OFF PRICK']}
  />
</BaseLayout>
