---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>This is a change to test the chat gpt PR integration</h2>
  <Greeting
    client:load
    messages={['WTF', 'SHIZNIT', 'Hello Madam', 'Silly Sausage']}
  />
</BaseLayout>
